body {
  box-sizing: border-box;
  background: #fca311;
  color: #14213d;
}

/* #Home {
  height: 40vh;
} */

#Home-Text {
  font-size: 50px;
  padding-left: 2.5rem;
  min-height: 30vh;
}

.bold-text {
  font-size: 100px;
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.nav-element {
  padding-left: 3em;
}

.nav-element a {
  color: #14213d;
}

/* About */

#About {
  /* trying to prevent text overlap into Skills component */
  /* height: 60vh; */
  display: flex;
  justify-content: space-evenly;
  background: #14213d;
  color: whitesmoke ;
}

#personalbwc {
  border: 10px solid #14213d;
  /* min-width: 20rem; */
}

#About-Text {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* trying to prevent text overlap into Skills component */
  /* font-size: 2vmin; */
  /* white-space: nowrap; */
  
}

/* Contact */

#Contact {
  background-color: white;
  color: black;
  text-align: center;
}

#Contact img {
  padding: 0.5rem;
}

/* Skills */

#Skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Skills-Card-List {
  display: flex;
}

#Skills article {
  padding: 0 2em;
}

/* Projects */

#Projects-Card-List {
  display: flex;
  /* width: 100vh; */
}

.Project-Card {
    margin-left: 2rem;
    border-style: solid;
    border-width: 3px;
}

#Projects img{
  height: 250px;
  /* width: 40%; */
}