body {
  box-sizing: border-box;
  background: #fca311;
  color: #14213d;
}

#Home {

  /* background: #fca311; */
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

#Home-Text {
  font-size: 50px;
  padding-left: 2.5rem;
}

.bold-text {
  font-size: 100px;
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.nav-element {
  padding-left: 3em;
}

.nav-element a {
  color: #14213d;
}

/* About */
#About {
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  background: #14213d;
  color: whitesmoke ;
}

#personalbwc {
  border: 10px solid #14213d;
}

#About-Text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Contact {
  background-color: white;
  color: black;
  text-align: center;
}

#Contact img {
  padding: 0.5rem;
}

/* Skills */

#Skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Skills-Card-List {
  display: flex;
}

#Skills article {
  padding: 0 2em;
}

/* Projects */

#Projects-Card-List {
  display: flex;
  /* width: 100vh; */
}

#Projects article {
  padding-left: 2rem;
}

#Projects img{
  height: 250px;
  /* width: 40%; */
}